<div class="header-text">
    <h1 class="website-title">Schedule database website</h1>
    <p class="website-subtitle">Mr. Coffee Schedules Management System</p>
  </div>
  <hr>
  <ul class="nav">
    <li><a href="/">All Schedules</a></li>
    <li><a href="/new">New Schedule</a></li>
  </ul>