* {
    background-color: #Eaf6f9;
    font-family: sans-serif;
}

body {
  margin: 0;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.website-title {
    font-size: 30px;
    letter-spacing: 1.5px;
    display: inline-block;
    margin-right: 20px;
}

.website-subtitle {
    font-size: 15px;
    letter-spacing: 1.2px;
    display: inline-block;
}

.nav {
    margin-left: 10px;
    padding-left: 0;
}

.nav li{
    display: inline-block;
    font-size: 20px;
    margin: 10px 15px 10px 0;
    padding: 5px;
    border: 1px solid #D4D4CB;
    border-radius: 10px;
    background-color: #Fffff5;
}

a:hover {
    cursor: pointer;
    background-color: #Fffff5;
}

a {
    text-decoration: none;
    color: #000;
}

h2 {
    margin-bottom: 30px;
}

table, th, td {
    border: 1px solid #D4D4CB;
    border-collapse: collapse;
  }

th, td {
    padding: 10px;
}

th {
    background-color: #abdbe3;
}

td {
    background-color: #Fffff5;
}

input, select {
    display: block;
    background-color: #Fffff5;
    width: 50%;
    height: 30px;
    border: 1px solid #D4D4CB;
}

input[type="submit"] {
    margin: 30px 180px;
    font-size: 15px;
    width: 20%;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

button {
    background-color: #Fffff5;
    border: 1px solid #D4D4CB;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.error-back-button {
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 20px;
    height: 20px;
 }
